{%extends 'base.html'%}
{% load bootstrap3 %}
{% load staticfiles %}
{% load static%}

{% block content %}
{{block.super}}
<div class="container">
  <div class="row">
      <img src="../static/backlit-clouds-dark-533877.jpg"  class="img-responsive" class="pic" alt="image">
      <style>
        .pic{
          height: 500px;
          width: 1150px;
        }
      </style>


  <div class="row">
    {% for post in projects %}
    <div class="col-md-4">
      <h5 class="text-center"> {{post.title}}</h5>
      <a href="{% url 'projects' post.id %}"><img src="{{post.image.url}}" class="img-responsive" alt="Project" ></a>

    </div>
    {% endfor %}
  </div>
  <br><br>
  <div class="row">

  </div>
</div>


</div>

{% endblock %}
