{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}

{% block content %}
{{block.super}}
  <link rel="stylesheet" href="../static/css/profile.css">

<div class="container">
  <div class="row">
    {{request.user.username}}

    <div class="col-md-4">

      <img  src="{{profile.photo.url}}" class="radius" alt="Project" class="img-responsive">
      <p> Bio: {{profile.bio}}</p>
    </div>

    <div class="profile-user-settings">

      <h1 class="profile-user-name">{{profile.profile}}</h1>
      <h4>{{profile.contact}}</h4>

      <button class="btn profile-create-btn"><a href="#">Edit profile</a> </button>
      {% for project in projects %}
        <p>Title: {{project.title}}</p>
        <img  src="{{project.image.url}}" class="radius" alt="Project" class="img-responsive">
      {% endfor%}
  </div>



</div>


{% endblock %}
